%h1 Listing projects
= link_to "Sign Out", destroy_user_session_path, :method => :delete
#main-container.container
  %table
    %thead
      %tr
        %th Name
        %th
        %th
        %th

    %tbody
      - @projects.each do |project|
        %tr
          %td= project.name
          %td= link_to 'Show', project
          %td= link_to 'Edit', edit_project_path(project)
          %td= link_to 'Destroy', project, :method => :delete, :data => { :confirm => 'Are you sure?' }
          %td= link_to "add bug", new_bug_path
          %td= link_to "See All Bugs", project_bugs_path(project)

  %br

  = link_to 'New Project', new_project_path
