#main-container.container
  .col-lg-12
    .col-lg-4
      %h1.pull-left Projects List
    .col-lg-6
    .col-lg-2.pull-right{:title => "Only Manager can Add Project"}
      - if current_user.user_type.to_s.downcase == "manager"
        = link_to 'New Project', new_project_path , class: "btn btn-success"
      - else
        = link_to 'New Project', new_project_path, class: "btn btn-success disabled"
  %table#projects_table.table.table-hover.table-striped.table-bordered.table-responsive
    %thead
      %tr
        %th Name
        %th Total Bugs
        %th Creater 
        %th Bugs
        %th Add New Bug
        

    %tbody
      - @projects.each do |project|
        %tr
          %td= link_to project.name , edit_project_path(project)
          / %td= link_to 'Edit Project', edit_project_path(project)
          / %td= link_to 'Delete Project', project, :method => :delete, :data => { :confirm => 'Are you sure?' }
          %td= project.bugs.count
          %td= project.users.first.name
          %td= link_to "See All Bugs", project_bugs_path(project)
          %td
            - if current_user.user_type.to_s.downcase == "developer"
              Not Allowed
            - else
              = link_to 'New Bug', new_project_bug_path(project)
  %br

= javascript_include_tag "common"

