#main-container.container
  .col-lg-12
    .col-lg-4
      %h1.pull-left Bugs List
    .col-lg-5
      
    .col-lg-3
      = link_to 'New Bug', new_project_bug_path(params[:project_id]) , class: "btn btn-success"
      = link_to 'Back to projects', projects_path,  class: "btn btn-success pull-right"
  %table#bugs_table.table.table-hover.table-striped.table-bordered.table-responsive
    %thead
      %tr
        %th Bug Title
        %th Bug type
        %th Status
        %th Deadline
        %th Description
        %th Action
        %th Solved By
        %th Created by
    %tbody
      - @bugs.each do |bug|
        %tr
          %td= link_to bug.title ,project_bug_path(bug.project,bug.id)
          %td= bug.bug_type
          %td= bug.status
          %td= bug.deadline
          %td= bug.description
          - if bug.bug_type == "Feature"
            %td= link_to "Mark as Completed",resolve_bug_path(bug.project,bug.id)
          - else
            %td= link_to "Mark as Resolved",resolve_bug_path(bug.project,bug.id)
          %td= bug.solved_by.present? ? get_user(bug.solved_by) : ""
          %td= bug.user.name

  %br

= javascript_include_tag "common"