%h1 Listing bugs

%table
  %tr
    %th Title
    %th Bug type
    %th Status
    %th Deadline
    %th Description
    %th
    %th
    %th

  - @bugs.each do |bug|
    %tr
      %td= bug.title
      %td= bug.bug_type
      %td= bug.status
      %td= bug.deadline
      %td= bug.description
      %td= link_to 'Show', [bug.project, bug]
      %td= link_to 'Edit', edit_project_bug_path(bug.project, bug)
      %td= link_to 'Destroy', [bug.project, bug], :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Bug', new_project_bug_path(params[:project_id])
