%p#notice= notice

%p
  %b Title:
  = @bug.title
%p
  %b Type:
  = @bug.bug_type
%p
  %b Status:
  = @bug.status
%p
  %b Deadline:
  = @bug.deadline
%p
  %b Description:
  = @bug.description

= link_to 'Edit', edit_bug_path(@bug)
\|
= link_to 'Back', bugs_path
