.container.form-signin

  %p#notice= notice

  %p
    %b Title:
    = @bug.title
  %p
    %b Bug type:
    = @bug.bug_type
  %p
    %b Status:
    = @bug.status
  %p
    %b Deadline:
    = @bug.deadline
  %p
    %b Description:
    = @bug.description

  = link_to 'Edit', edit_project_bug_path(@bug.project, @bug), class: "btn btn-success"
  = link_to 'Back', project_bugs_path(@bug.project), class: "btn btn-success"
